### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
target
lootgeneratorapi/mvnw
lootgeneratorapi/mvnw.cmd
/*.json
HELP.md
lootgeneratorapi/src/main/resources/application.properties
lib
img
quickdtocore-1.1.jar